html, body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

canvas, svg {
    /* width: 500px; */
    /* aspect-ratio: 1; */
    border: 1px solid black;
    box-shadow: 10px 10px 0 0 black;
}
svg {
    width: 500px;
    aspect-ratio: 1;
}

#game-status {
    margin-top: 1rem;
    text-transform: capitalize;
}

text {
    text-anchor: middle;
    dominant-baseline: middle;
}

polygon {
    stroke-width: 1;
}